<carousel>
  <slide>
    <div class="text-center py-5 bg-dark text-white virus-bg">
      <h2>Will you rule with your head?</h2>
      <div class="lead">
        <p>Or lead with your heart?</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white virus-bg">
      <h2>Cautious calls?</h2>
      <div class="lead">
        <p>Or emotional foundations?</p>
      </div>
    </div>
  </slide>
  <slide>
    <div class="text-center py-5 bg-dark text-white virus-bg">
      <h2>And if you go back and change the past...</h2>
      <div class="lead">
        <p>...would you do so for a brighter future?</p>
      </div>
    </div>
  </slide>
</carousel>

<div class="container">
  <div class="row">
    <div class="col pt-5">
      <alert type="danger" [dismissible]="true">
        <h4 class="alert-heading"><i class="fad fa-exclamation-triangle"></i> Refuge is currently in ALPHA status!</h4>
        <p>We're still in the process of rounding up all those damn zombies who may be taking bites of our code and infecting it with bugs!</p>
        <p>Please enjoy the game and the engine, but remember if you spot one of those pesky zombie bugs to let us know and to get us any feedback on how much (or little) you enjoyed the Refuge experience!</p>
        <p class="mb-0">Thanks!<br> <i class="fad fa-paw-claws"></i> WebDevWolf (Liane)</p>
      </alert>

      <accordion [isAnimated]="true">
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">Story</div>
            <i class="fad fa-books float-right pull-right"></i>
          </button>
          <p>Follow a newly formed family as they deal with a pre and post apocolyptic Great Britain that has been shaped and changed by the COVID-19 pandemic of 2020.</p>
          <p>Explore the characters past, see how they met and the trials they endured in normal average pre-apoclyptic life to shape and determine their future together. 
            However, rememeber that every decision, statement and action has a consequence, whether that be positive or negative.</p>
          <p>In 2019, two young women find themselves, love and each other in the most bleak of circumstances in a domestic abuse refuge in Walsall. Will they to find to the 
            love they both deserve and want from each other and regardless of this option will they choose to be open and honest about their relationship or start their journey 
            behind closed doors for the sake of the children, the community or themselves.
          </p>
          <p>Then later in 2020 when the unthinkable happens and the world is hit with a pandemic that effects people of ages, races and class, how will they survive the most 
            turbulent aspect of their relationship so far? And will the bonds formed in the early days of their life in the Refuge be a help or a hinderance? Most importantly 
            what will the relationships of the people around them teach the children trapped with them? And can all seven family members make it through 2020 alive?
          </p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">The Refuge Experience</div>
            <i class="fad fa-gamepad-alt float-right pull-right"></i>
          </button>
          <p>This game, although just a simple multiple-choice adventure, makes use of real-life and edited footage, cleverly designed audio and engaging plot lines to 
            tell the story of two damaged lovers fight for survivial in a pre and post apocolyptic world.</p>
          <p>We strongly advise you play the game with headphones capible of outputting 3D THX sound to enhance your Refuge experience and for full immersion into 
            Liane and Kirsty's world.
          </p>
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">FAQ's</div>
            <i class="fad fa-question float-right pull-right"></i>
          </button>
          Coming Soon!
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">Feedback</div>
            <i class="fad fa-comment-alt-lines float-right pull-right"></i>
          </button>
          We greatly appriciate any feedbck you wish to give us. For now we don't have any official feedback system so we would ask you to take the time to drop us an 
          email with any thoughts, questions, praise or grumbles at webdevelopwolf@gmail.com
        </accordion-group>
        <accordion-group>
          <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
            <div class="pull-left float-left">Updates</div>
            <i class="fad fa-newspaper float-right pull-right"></i>
          </button>
          <strong>07-05-20</strong> - Added the background and lore to the Refuge world
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>

<hr />
