<div class="jumbotron">
  <div class="container pt-5 pb-5">
    <div class="row align-items-center">
      <div class="col-md-7">
        <img src="../../assets/studio/studio-logo.png" class="img-full" />
      </div>
      <div class="col">
        <img src="../../assets/studio/engine-logo.png" class="img-full" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>A Studio With Bite...</h1>
      <p>Hey I'm Liane Stevenson and I am a young, creative Full Stack Developer living and working in Stoke-on-Trent Staffordshire. I have worked with the likes of 
        BBC, Volkswagen, Kwik-Fit, Ikea and Kinder to produce beautiful and functional websites, applications, mobile apps and games. At weekends I am a volunteer zoo 
        keeper and by weekday a passionate developer / designer. I grew up working with wolves in wolf conservation, hence the studio name Web Dev Wolf Studios.</p>
      <img src="../../assets/studio/studio-me.jpg" class="img-full pt-5 pb-5" />
      <p>I'm not a graphical designer by any stretch of the imagination, but I'm a great story-teller and developer. If you think you can inject a great looking visual 
        engine to any of my works then please email me @ webdevelopwolf@gmail.com</p>
      <h2>Next-Gen Decision-Making</h2>
      <p>Refuge is built using the Chronicle Decision Engine. Incorperating past and present actions to determine the players future, the Chronicle Engine aims to 
        create a true butterfly effect decision system where each decision counts. Building on the work of others such as TellTale and DotNod, I aim to make an engine 
        that doesn't compensate for itself for the sake of linear story arc.</p>
      <p>Big choices in the players life have big impacts on their present and future. I don't think these engines should compensate or compromise for the sake of story 
        or development time. Each players journey in the Chronicle world will be unique and individual, whilst offerering the same great story telling that made games 
        such as The Walking Dead and Life is Strange so memorable and emotional.</p>
      <p>Refuge is our ALPHA experience whilst we test and trial the engine's planning and theory. We've taken on an insumountable challenge here at Web Dev Wolf 
        and we want to make sure that we can deliver with the quality and conviction this engine should deserve. Please feel free to try the game, but also please 
        let us know any feedback on your own personal gameplay experience and be patient whilst we make this as awesome as we know it can be!</p>
    </div>
    <div class="col-md-5">
      <h3>More From WDW Studios...</h3>
      <p>Check out some of the other cool games we've made!</p>
      <iframe frameborder="0" src="https://itch.io/embed/260509?linkback=true&amp;border_width=0&amp;bg_color=222&amp;fg_color=b90101&amp;link_color=b00000" width="100%" height="165"><a href="https://web-dev-wolf-studios.itch.io/abandoned">Abandoned by Web Dev Wolf Studios</a></iframe>
    </div>
  </div>
</div>

<hr/>
