@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/darkly/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    --scrollbarBG: #222222;
    --thumbBG: darkred;
}
    body::-webkit-scrollbar {
    width: 11px;
}
body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

html {
    overflow: hidden;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    overflow-y: auto;
}

a {
    color: darkred;
}

a:hover {
    color: red;
}

.nudge-right {
    padding-right: 4rem;
}

.nudge-left {
    padding-left: 4rem;
}

h1, h2, h3, h4, h5, .btn-link {
    color: darkred;
    font-family: 'Special Elite', cursive;
}

.btn-link, .btn-link:hover, .card-header {
    color: #FFF;
    background-color: darkred;
}

.card {
    background-color: #222222;
    border: none;
}