@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/darkly/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

.navbar{
    background-color: darkred;
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
}

.jumbotron {
    background: url('./assets/virus-bg.png') no-repeat right bottom;
    background-size: 20%;
    background-color: #111;
}

.jumbotron h1, .text-darkred {
    color: darkred;
    font-family: 'Special Elite', cursive;
}

.jumbotron .lead {
    color: #444;
    font-family: 'Raleway', sans-serif;
}