<header>
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand font-weight-bold" href="#">Refuge</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">New Game</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" disabled>Continue Game</a>
    </li>
  </ul>
    <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2 rounded-0 border-0 bg-dark" type="text" placeholder="Username" aria-label="Username">
      <input class="form-control mr-sm-2 rounded-0 border-0 bg-dark" type="password" placeholder="Password" aria-label="Password">
      <button class="btn btn-dark my-2 my-sm-0" type="submit">Login</button>
    </form>
  </nav>
</header>


<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid p-5">
    <h1 class="display-4 jumbo-heading">In 2021 COVID-19 evolved...</h1>
    <p class="lead pl-4">...stuck in a refuge in Walsall, UK...can you evolve faster and make life changing decisions to keep your family alive?</p>
  </div>
</div>

<div class="container marketing">
  <h2 class="m-5 text-center text-darkred">Welcome to the family...</h2>
  <div class="row text-center mb-5">
    <div class="col-lg-4">
      <img width="140" src="../assets/meet-liane.png" />
      <h3 class="text-darkred mt-3">Liane</h3>
      <p>Devoted partner of Kirsty, Liane has a very explosive personality and a temper she has trouble controlling. A woman with a good heart, bad sense of humour and inappropriate timing. A mix that makes her relatable one-on-one but socially awkward in large groups.</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img width="140" src="../assets/meet-kirsty.png" />
      <h3 class="text-darkred mt-3">Kirsty</h3>
      <p>Loving patner of Liane and single mother of five, Kirsty has a very trusting, kind nature. Believing she was placed on this earth to help everyone, can she save them all? Or will the ones she loses break her resolve to trust first and ask questions later?</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img width="140" src="../assets/meet-liane.png" />
      <h3 class="text-darkred mt-3">Kiddos</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-darkred">LOCKDOWN <span class="text-muted">Episode 1</span></h2>
      <h4>Out now!</h4>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-darkred">Episode Title <span class="text-muted">Episode 2</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-darkred">Episode Title <span class="text-muted">Episode 3</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>

  <hr class="featurette-divider">

</div>

<footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 WebDevelopWolf Ltd. &middot; <a href="#">Studio</a> &middot; <a href="#">About</a></p>
</footer>
  