<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid nudge-right nudge-left pt-5 pb-5">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4 jumbo-heading"><i class="fad fa-viruses"></i> {{story?.tagline}}</h1>
        <p class="lead pl-4">{{story?.lead}} <i class="fad fa-viruses"></i></p>
        <a *ngIf="!registerMode" class="btn btn-dark mr-1" (click)="registerToggle()">Register</a>
        <a *ngIf="!registerMode" class="btn btn-danger ml-1" [routerLink]="['/learn-more']">Learn More</a>
      </div>
      <div *ngIf="registerMode" class="col">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">
  <h2 class="m-5 text-center text-darkred">{{story?.characterLead}}</h2>
  <div class="row text-center mb-5">
    <div class="col-lg-4">
      <img width="140" src="../../assets/meet-liane.png" />
      <h3 class="text-darkred mt-3">Liane</h3>
      <p>Devoted partner of Kirsty, Liane has a very explosive personality and a temper she has trouble controlling. A woman with a good heart, bad sense of humour and inappropriate timing. A mix that makes her relatable one-on-one but socially awkward in large groups.</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img width="140" src="../../assets/meet-kirsty.png" />
      <h3 class="text-darkred mt-3">Kirsty</h3>
      <p>Loving patner of Liane and single mother of five, Kirsty has a very trusting, kind nature. Believing she was placed on this earth to help everyone, can she save them all? Or will the ones she loses break her resolve to trust first and ask questions later?</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <img width="140" src="../../assets/meet-kiddos.png" />
      <h3 class="text-darkred mt-3">Kiddos</h3>
      <p>Melenie (16), Holly (13), Bradley (11), Jacob (2) and Annabelle (1 month). Kirsty's children, all with their own unique traits and profiles. Anything this unique group see they absorb, both Kirsty and Liane will need to be careful of the lessons they teach in a changing world.</p>
      <p><a class="btn btn-danger" href="#" role="button">View dossier &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-darkred">LOCKDOWN <span class="text-muted">Episode 1</span></h2>
      <h4>Out now!</h4>
      <p class="lead">
        In 2019, COVID-19 shook the world. The infection rate was unsummounatble and tens of thousends died within weeks in the UK alone, 
        prompting the newly elected UK PM, Boris Johnson to act. Just like that, the country founcd itself in a lockdown. The same day, Walsall 
        resident Kirsty receives a call from her partner Liane, visiting in a nearby hotel. Little do they know, that phone call was the spark 
        of it all. Every choice they make from here on in will shape the hard years to come. Can they make the hard calls early on to make the days 
        ahead easier of will they take the easy option now for an uncertain future. And what choices made in the past will continue to shape the 
        future?
      </p>
      <p class="lead">
        Play as Kirsty and take the cautious calls for your family, or play as Liane and set the relationship foundations that will make or break 
        your group dynamic for the rest of the series. Will you rule with your head? Or lead with your heart?
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/ep-1.png" width="450" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-darkred">SANCTUARY <span class="text-muted">Episode 2</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">
        In 2019, COVID-19 shook the world. The infection rate was unsummounatble and tens of thousends died within weeks in the UK alone, 
        prompting the newly elected UK PM, Boris Johnson to act. Just like that, the country founcd itself in a lockdown. The same day, Walsall 
        resident Kirsty receives a call from her partner Liane, visiting in a nearby hotel. Little do they know, that phone call was the spark 
        of it all. Every choice they make from here on in will shape the hard years to come. Can they make the hard calls early on to make the days 
        ahead easier of will they take the easy option now for an uncertain future. And what choices made in the past will continue to shape the 
        future?
      </p>
      <p class="lead">
        Play as Kirsty and take the cautious calls for your family, or play as Liane and set the relationship foundations that will make or break 
        your group dynamic for the rest of the series. Will you rule with your head? Or lead with your heart?
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="../../assets/ep-2.png" width="450" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-darkred">COMMUNITY <span class="text-muted">Episode 3</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">
        In 2019, COVID-19 shook the world. The infection rate was unsummounatble and tens of thousends died within weeks in the UK alone, 
        prompting the newly elected UK PM, Boris Johnson to act. Just like that, the country founcd itself in a lockdown. The same day, Walsall 
        resident Kirsty receives a call from her partner Liane, visiting in a nearby hotel. Little do they know, that phone call was the spark 
        of it all. Every choice they make from here on in will shape the hard years to come. Can they make the hard calls early on to make the days 
        ahead easier of will they take the easy option now for an uncertain future. And what choices made in the past will continue to shape the 
        future?
      </p>
      <p class="lead">
        Play as Kirsty and take the cautious calls for your family, or play as Liane and set the relationship foundations that will make or break 
        your group dynamic for the rest of the series. Will you rule with your head? Or lead with your heart?
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/ep-3.png" width="450" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading text-darkred">REBELLION <span class="text-muted">Episode 4</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">
        In 2019, COVID-19 shook the world. The infection rate was unsummounatble and tens of thousends died within weeks in the UK alone, 
        prompting the newly elected UK PM, Boris Johnson to act. Just like that, the country founcd itself in a lockdown. The same day, Walsall 
        resident Kirsty receives a call from her partner Liane, visiting in a nearby hotel. Little do they know, that phone call was the spark 
        of it all. Every choice they make from here on in will shape the hard years to come. Can they make the hard calls early on to make the days 
        ahead easier of will they take the easy option now for an uncertain future. And what choices made in the past will continue to shape the 
        future?
      </p>
      <p class="lead">
        Play as Kirsty and take the cautious calls for your family, or play as Liane and set the relationship foundations that will make or break 
        your group dynamic for the rest of the series. Will you rule with your head? Or lead with your heart?
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/ep-4.png" width="450" />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette mt-5 mb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading text-darkred">FAMILY <span class="text-muted">Episode 5</span></h2>
      <h4>Coming Soon...</h4>
      <p class="lead">
        In 2019, COVID-19 shook the world. The infection rate was unsummounatble and tens of thousends died within weeks in the UK alone, 
        prompting the newly elected UK PM, Boris Johnson to act. Just like that, the country founcd itself in a lockdown. The same day, Walsall 
        resident Kirsty receives a call from her partner Liane, visiting in a nearby hotel. Little do they know, that phone call was the spark 
        of it all. Every choice they make from here on in will shape the hard years to come. Can they make the hard calls early on to make the days 
        ahead easier of will they take the easy option now for an uncertain future. And what choices made in the past will continue to shape the 
        future?
      </p>
      <p class="lead">
        Play as Kirsty and take the cautious calls for your family, or play as Liane and set the relationship foundations that will make or break 
        your group dynamic for the rest of the series. Will you rule with your head? Or lead with your heart?
      </p>
    </div>
    <div class="col-md-5">
      <img src="../../assets/ep-5.png" width="450" />
    </div>
  </div>

  <hr class="featurette-divider">

</div>